<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="./assets/icon.webp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>11ty Starter</title>
    <meta name="description" content="A simple 11ty application by Create Launcher"/>
    <link rel="stylesheet" href="./styles.css"/>
  </head>
  <body>
    <div>
      <img src="./assets/create-launcher.webp" alt="Logo" class="logo"/>
      <h1>Welcome Developer !!!</h1>
      <p>This is a simple 11ty application.</p>
      <p>Feel free to modify the code and explore!</p>
      <p>Happy coding!</p>
      <p class='footer'>Project created using
        <i>Create Launcher</i>
      </p>
    </div>
  </body>
</html>